<div class="carousel-item<%= " active" if product == @products.first %>">
    <img class="d-block w-100 carousel-image" src="<%= product.image_url %>" alt="slide">
    <div class="carousel-caption d-none d-md-block carousel-caption">
      <h1 class="carousel-name"><%= product.name %></h1>
      <p class="carousel-price"><%= product.price %></p>
    </div>
</div>
