  <div class="about-page">
    <div class="container about-box ">
      <div class="about">
        <h1>About Us</h1>
        <h2>Berlin's Best Bike Boutique</h2>
        <p>If you're looking for a great bike at a fantastic price, look no further. Bike Berlin has you covered with the world's largest selection of mountain, rode and leisure bikes, with a lowest price guarantee!</p>
      </div>
    </div>
  </div>
