<div class="container landing-page-body">
  <div class="row landing-page-row">
    <div class="col-md landing-page-col landing-page-box">
      <h1>BIKE/BERLIN</h1>
      <div class=" landing-page-carousel">
        <%= image_tag("josh-nuttall-286507-unsplash.jpg") %>
      </div>
    </div>
    <div class="col-md landing-page-col landing-page-right ">
      <div class="landing-page-text">
        <h2>Affordable. Environmentally-Friendly. Berlin-Owned.</h2>
        <h3>Need we say more?</h3>
        <!-- <h1 class="shop-button-area"> -->
        <div class="shop-button-area">
          <a href="/simple_pages/index" class="">  <h1 class="shop-button">SHOP</h1></a>
        </div>

        <!-- </h1> -->
      </div>
    </div>
  </div>
</div>
