<div class="index-content">
  <div class="panel panel-default">
  <div class="panel-body">
    <p id="notice">Your payment was successful. Thank you for your order! </p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
</div>
