/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty
 */
 body {
   position: relative;
   font-family: Roboto, Arial;
   background: #f4f9f9;
   margin: 0;
 }

 .navbar-nav {
   background: #1cffe4;
   text-align: center;
   margin: auto;
 }

 //
 .navbar-nav li {
    padding: 0 40px;
  }
 //
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color: #e06f0d;
 }

 .search-box {
   margin:auto;
   padding: 5px;
 }


 .nav-item {
   text-transform: uppercase;
   margin: auto;
   font-size: 1.6em;
   padding: 0 10px;
 }

 footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width:100%;
   background: black;
   color: white;
 }
