/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty
 */
 body {
   position: relative;
   font-family: 'Squada One', 'Roboto', Arial;
   /* background: #f4f9f9; */
   background-color: white;
   margin: 0;
   font-size: 1.5rem;
 }

  body a:hover {
    color: #2ef2eb;
  }

  #notice {
    z-index: 10;
    position: fixed;
    top:0;
    height: 60px;
    width: 100vw;
    background: black;
    opacity: .75;
    color: white;
    border: 0px;
    font-size: 1em;
    font-family: Orbitron;
    padding-top: 10px;
    border-radius: 0px;
    text-align: center;
  }


 // Navbar


 .home-page-body {
   font-family: 'Squada One';
   font-size: 1.5rem;
 }

 .home-page-body a:hover{
   color: #2ef2eb;
 }

 .specials-banner {
   height: 60px;
 }

 .special-1 {
   width: 400px;
   background-color: #f4d942;
   margin: auto;
   margin-top: 20px;
   text-align: center;

 }

 .special-1 h1 {
   font-size: 1rem;
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .bike-navbar {
   background-color: black;
 }

 .nav-link {
     color: white;
     font-family: 'Orbitron';
     font-size:1.2rem;
   }

 .navbar-dark .navbar-brand {
     color: #2ef2eb;
 }

 .dropdown-menu {
   background-color: black;
   color: white;
   font-family: 'Orbitron';
 }

 .bike-nav-brand {
   color: #2ef2eb;
   font-size: 2rem;
 }

 .home_page_search_button {
   color: #2ef2eb;
   border-color: #2ef2eb;
 }


 .btn-outline-success:hover {
     color: black ;
     background-color: yellow;
     border-color: #2ef2eb;
 }

 footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width:100%;
   background: black;
   color: white;
 }
