// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//PRODUCTS-SHOW
.product-show p {
  text-align: left;
}

.product-show img {
  width: 100%;
}

//PRODUCTS-INDEX
.products-all .btn {
  background-color: white;
}

.products-all .product-image {
  width: 100%;
  padding: 10px;
}

.products-all .product-card {
  border: 2px solid white;
  margin-left: 5px;
  background-color: #e0fffb
}

.products-all .new-product-button {
  margin: 30px 0 50px 30px;

}

.products-all .product-name {
  text-transform: uppercase;
  text-align: center;
}
.product-name :hover{
  color: #1cffe4
}


.products-all .product-price {
  color: #e06f0d;
  font-size: 1.35em;
}

//PRODUCTS-FORM

.product-form {
  width: 60%;
  max-width: 750px;
}
