// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//


h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-size: 1.25em;
}

p {
  margin: 30px auto;
  width: 80%;
  text-align: center;

}

.main-image {
  text-align: center;
  margin-top: 40px;
}

img {
  width: 40%;
}

//Landing Page

#landing_page_body {
  background-color: white;
}

.carousel-prev, .carousel-next {
  background-color: black;
}

.carousel-image {
  // height: 100vh;
  max-width: 100%;
}

.carousel-name {
  color: black;
}

.carousel-price {
  color: black;
}

.carousel {
  max-width: 850px;
  margin: auto;
  height: 90%;
  max-height: 90vh;
}

.carousel-caption {
  padding-bottom: 50px;
}

.site-entrance {
  color: black;
  text-align: center;
  z-index: auto;
  padding-top: 20px;
}
