// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up {
  width: 30%;
  min-width: 300px;
  text-align: center;
}

.user-button {
  width: 100%;
}

.remember-me-label {
  display: inline;
}
