<div class="container product-reviews">
  <h4 class="customer-review-header">Customer Reviews</h4>
  <div class="most-recent-review">
  </div>
  <% @comments.each do |comment| %>
    <div class=" customer-reviews">

      <%= render comment %>
    </div>
  <% end %>

  <div class="digg_pagination">
      <%= will_paginate @comments %>
  </div>

</div>
