<div class="products-index">
  <section class="products-all container">

    <h1>Products</h1>

    <div class="container-fluid">
      <div class="row">
        <%= render @products %>
      </div>
    </div>


      <% if current_user && current_user.admin? %>
        <div class="container">
            <button type="button" class="btn btn-secondary new-product-button" name="button"><%= link_to 'Add New Product', new_product_path %></button>
        </div>
        <% end %>

  </section>
</div>
