<p id="notice"><%= notice %></p>

<h1>Products</h1>

<section class="products-all container">


  <div class="container-fluid">
    <div class="row">
      <%= render @products %>
    </div>
  </div>

  <div class="container">
      <button type="button" class="btn btn-secondary new-product-button" name="button"><%= link_to 'Add New Product', new_product_path %></button>
  </div>


</section>
